{% extends "base.html" %}{%block css%}{% load static %} <link rel="stylesheet"
href="{% static "css/sidebar.css" %}"> {%endblock css%}{% block body %} 


<nav class="navbar navbar-light bg-light" style="border-bottom: solid 0.5px #ccc">
  <a class="navbar-brand" href="#">
    <img src="{% static "img/LOGO.svg" %}" width="96" class="d-inline-block align-top ms-3" alt="">
  </a>
</nav>


  <main>
    <div
      class="d-flex flex-column align-items-stretch flex-shrink-0 bg-light"
      style="width: 300px; height:89vh; border-right: solid 0.5px #ccc">
      <a
        href="{% url 'formtasks'%}"
        class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
      >
        <span class="fs-5 fw-semibold">
          <button type="button" >Adicionar</button>
        </span>
      </a>
      {% for tasks in tasks %}
      <div class="list-group list-group-flush border-bottom scrollarea">
        <a
          href="{% url 'item' tasks.id  %}"
          class="list-group-item list-group-item-action py-3 lh-tight bg-light"
          aria-current="true"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{tasks.name}}</strong>
            <small>{{tasks.date}}</small>
          </div>
          <div class="col-10 mb-1 small">
            {{tasks.description}}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div style="width: auto">{% block item %}{% endblock item %}</div> 
    
  <form  method="post" class="w-auto">
    {% csrf_token %}
    <div class="mb-3">
      <label  class="form-label">Tarefa</label>
      <input type="text" class="form-control" name="name" value="{{task.name}}">
    </div>
    <div class="mb-3">
      <label  class="form-label">Descrição</label>
      <textarea name="description" cols="40" rows="10" maxlength="100" required="" > {{task.description}}</textarea>
    </div>
    <div class="mb-3">
      <label  class="form-label">data</label>
      <input type="date" name="date" class="form-control" value="{{task.date| date:"Y-m-d" }}">  
    </div>
    <div class="mb-3">
      <label >Done:</label>
      <input type="checkbox" name="done" {% if  task.done %}checked {% endif %}>
    </div>

    
    <button class="button" type="submit">Adicionar</button>
</form>

  </main>
  {% endblock body %}
</div>
