html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  margin-bottom: 20px;
  width: 200px;
}

.form-signin {
  background-color: rgba(36,36,36, 0.1);
  box-shadow: 5px 5px 5px 5px rgba(36, 36, 36, 0.5);
  border-radius: 10px;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  
}

.form-floating{
  margin-top: 15px;
  border: none;
  border-color: 5px 5px 5px 5px rgba(36, 36, 36, 0.5);
  border-radius: 10px;
  
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button{
  font-weight: bold;
  margin-top: 30px !important;
  width: 300px;
  height: 40px;
  border-radius: 10px !important;
  border: solid 1px #0078AC;
  color: #0078AC;
}

button:hover{
  background-color: #0078AC;
  color: #fff;
}